[submodule "amundsengremlin"]
	path = amundsengremlin
	url = ssh://git@github.com:22/amundsen-io/amundsengremlin
	branch = master
[submodule "amundsenrds"]
	path = amundsenrds
	url = ssh://git@github.com:22/amundsen-io/amundsenrds.git

